body{
    background-color: black;
}
p{
    font-family: sans,Helvetic Neue,segoe UI,Roboto,ubuntu,sans-serif;
    color: red;
    font-weight: 700;
    font-size: 1cm;
    margin-top: auto;

}
#center{
    padding-top: 10%;
    color: white;
    text-align: center;
}
.para1{
    background-color: black;
    background-image:url('imgpro/netflix3.jpg');
    background-size:100%;
    background-repeat: no-repeat;
    

}
.h1{
    color: white;
    text-align: center;
    font-size:x-large;
    padding-top: 10%;
}
button{
    float: right;
    padding: 6px 10px;
    margin: top 2px;;
    margin-right:2cm;
    color: white;
    background-color: red;
    padding: auto;
    
}
.h2{
    color:white;
    text-align: center;
    font-size: medium;
}
h3{
    color: white;
    text-align: center;
    font-size: small;
}
.label{
    text-align: center;
    font-size:medium;
}
a:link,a:visited{
    background-color: red;
    color: white;
    font-size: medium;
    padding:12px 25px ;
    text-align: center;
}


.collapsible{
    background-color:black;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align:center;
  outline: none;
  font-size: 15px
}
.content {
    color: white;
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #070000;
}
.para7{
    color: white;
    text-align: center;
    font-size:150%;
}
footer{
    color: rgb(97, 95, 95);
}
.block{
    float: left;
    width: auto;
    padding: 20px;
}
.hii{
    padding-left:30%;
}


